**TIME SERIES**

> *It is data that is variant over time. When it is plotted against time it should not be constant value. For example stock price, amount of rain, sales of a company etc.*

**FORECAST AND PREDICTION**  
1. We dont have any input output relationship with time. Time is used just as a step of data.
2. Forecast is an extrapolation of a variable following the pattern it portrayed in past.
3. Prediction is done by a mathematical relation between an output and input variable.

In [1]:
#Importing the prerequisite libraries that are to be used further.
import numpy as np
import pandas as pd
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
dump=pd.read_csv("dump.csv")

In [3]:
sel=dump[dump.SellerId==13][["TransactionDate","Amount"]]

In [4]:
sel["TransactionDate"]=sel.TransactionDate.apply(lambda x: x.split("T")[0])

In [5]:
sel.head()

  TransactionDate    Amount
0      2017-06-30   74970.0
1      2017-06-30  109841.0
2      2017-06-30   51128.0
3      2017-06-30   74630.0
4      2017-06-30  299030.0

In [6]:
sel["TransactionDate"]=pd.to_datetime(sel.TransactionDate)

In [8]:
sel=sel.set_index("TransactionDate")

In [9]:
sel = sel.groupby(pd.Grouper(freq="M")).sum()

In [10]:
sel.head()

                   Amount
TransactionDate
2015-12-31       554937.0
2016-01-31       572900.0
2016-02-29       547166.0
2016-03-31       992872.0
2016-04-30       822866.0

In [11]:
# ts stands for time series.
ts=sel["Amount"]

In [30]:
ts.head()

TransactionDate
2015-12-31    554937.0
2016-01-31    572900.0
2016-02-29    547166.0
2016-03-31    992872.0
2016-04-30    822866.0
Freq: M, Name: Amount, dtype: float64