In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
data=pd.read_excel("Book1.xlsx")

In [28]:
data.head()

  observation_date      GDP
0       1947-01-01  243.164
1       1947-04-01  245.968
2       1947-07-01  249.585
3       1947-10-01  259.745
4       1948-01-01  265.742

In [15]:
data.to_csv("gdp.csv", index=False)

In [16]:
gdp=pd.read_csv("gdp.csv")

In [17]:
gdp.head()

  observation_date      GDP
0       1947-01-01  243.164
1       1947-04-01  245.968
2       1947-07-01  249.585
3       1947-10-01  259.745
4       1948-01-01  265.742